:root {
  --mc-blue: #0077c4; 
  --mc-gold: #ffbf00;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts\\inter-v20-latin-500.woff2') format('woff2');
  font-display: swap; /* Helps optimize font loading */
}

@font-face {
  font-family: 'Archivo Black';
  src: url('fonts\\archivo-black-v23-latin-regular.woff2') format('woff2');
  font-display: swap;
}

html, body {
  margin: 0px;
}

body {
  min-height: 100vh;
}

hr {
  width: 100%;
}

h1, strong {
  font-family: "Archivo Black";
}

.splash-text {
  font-family: "Inter";
  font-size: 1.5rem;
  text-align: center;
}


/* BEGIN HEADER */

header {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

#call-sticky {
  background-color: var(--mc-gold);
  height: 4rem;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 100;
}

#call-sticky > a {
  color: black;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}

.header-lower {
  max-width: 100%;
  justify-content: space-between;
  background-color: var(--mc-blue);
  color: white;
  display: flex;
  padding: 1rem;
  align-items: center;
}
.header-lower > h1 {
  font-size: 1.5rem;
}

.site-title {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* BEGIN MAIN */

main {
  padding: 1rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > strong {
  text-align: center;
  font-size: 1.5rem;
}

.main-internal-wrapper {
  max-width: 1000px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3rem;
  flex: 1;
  width: 95%;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
}

.main-content {
  font-family: 'Inter';
  font-size: 1.5rem;
  display: grid;
  flex: 1;
  border-radius: 3rem;
  padding: 1rem;
  gap: 1rem;
}

.view {
  display: grid;
  grid-template-columns: auto auto;
  text-align: right;
  gap: .5rem;
}

.view-title > h2, p {
  margin: 0;
}

.back {
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'Inter';
  background-image: linear-gradient(135deg, #ebebeb, #ffffff);
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow:
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(135deg, #ebebeb, #ffffff);
  flex: 1;
  height: 5rem;
  padding: 0px 1rem;
}

.option:hover, .back:hover {
  background-image: linear-gradient( 135deg, white, white);
  cursor: pointer;
  text-decoration: underline;
  border: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 
    inset 0px 0px 20px #ffbf0028,
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
}

.option:active, .back:active {
  box-shadow: none;
}

.option-icon {
  width: 50px;
}

.quote_input {
  padding: 10px;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow:
    -3px 0px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(135deg, #ebebeb, #ffffff);
}

#additional-comments {
  width: 100%;
  height: 100px;
}

#submit_button {
  padding: 10px;
  border-radius: 1em;
  width: 100%;
  font-family: "Inter";
  font-size: 1.5rem;
  background-color: #0076c474;
}

#submit_button:enabled {
  background-color: #0077c4;
  color: white;
  box-shadow: 
    -3px -10px 15px #ffffff,
    -3px -5px 8px #ffffff,
    -10px 0px 15px #ffffff,
    3px 10px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#common-problems-info, #technician-bio {
  font-family: "Inter";
}

#technician-bio {
  text-align: center;
}

#technician-bio > h2, #common-problems-info > h2 {
  font-size: 2rem;
}

#technician-bio > p, #common-problems-info > ul {
  font-size: 1.5rem;
}

.profile-photo {
  width: 200px;
  height: 200px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* BEGIN FOOTER */

footer {
  color: white;
  background-color: var(--mc-blue);
  font-family: "Inter";
  padding: 1rem;
}

footer > p, h1 {
  margin: 0px;
}

footer > p {
  text-align: right;
}

.footer-nap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 1rem 0px;
}

.footer-nap > h1 {
  font-size: 1rem;
}

.footer-nap > div {
  text-align: right;
  font-size: 1rem;
}

.footer-nap > div > a {
  color: white;
}

@media (min-width: 500px) {
  .profile-photo {
    width: 400px;
    height: 400px;
  }
  .site-title {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  }
}